.App {
  text-align: center;
  background: #0d2436;
  color: #ffffff;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #50B074;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ballot */

.category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.catHeader {
  text-transform: capitalize;
}

.nomineeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nominee {
  display: inline-block;
  height: 500px;
  width: 450px;
  background: #009B86;
  border-radius: 50px;
}

.nominee:hover {
  color: #CCCCCC;
  background: #34AC9C
}

/* nominee select button */

.selectButton {
  display: inline-block;
  background-color: #009B86;
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.selectButton:hover {
  background-color: #34AC9C;
}

/* ballot submit button */
.submitButton {
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.submitButton:hover {
  background-color: #099BB3;
}

/* modal */
.outer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.view {
  background-color: #009B86;
  border-radius: 5px;
  padding: 24px;
  color: #FFFFFF;
}

.modal-header, .modal-footer {
  padding: 10px;
  border-top: 1px, solid, black;
  border-bottom: 1px, solid, black;
  color:#ffffff;
}

.modal-button {
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}