.App {
  text-align: center;
  background: #0d2436;
  color: #ffffff;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #50B074;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.nomineeContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nominee {
  display: inline-block;
  height: 500px;
  width: 450px;
  background: #009B86;
}

.nominee:hover {
  color: #CCCCCC;
  background: #34AC9C
}

.selectButton {
  display: inline-block;
  background-color: #009B86;
  border-radius: 10px;
  border: 4px double #cccccc;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.selectButton:hover {
  background-color: #34AC9C;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
